* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.netflix-logo-contenedor {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 20px;
}

.netflix-logo {
  height: 200px;
}

.contenedor-principal {
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
}